/* You can add global styles to this file, and also import other style files */
body{
    background-color: #97cee4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    height: 100vh;
}